{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "globals": {
    "window": true
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "max-len": [
      "warn",
      120
    ],
    "react/jsx-props-no-spreading": [
      "off"
    ]
  }
}
