.button {
  appearance: none;
  background-color: var(--color-gray-200);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
  outline: none;
  padding: 1rem 2rem;
}

.button:hover {
  background-color: var(--color-white);
  cursor: pointer;
}

.button:focus {
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px;
}
