.button {
  appearance: none;
  background-color: var(--color-blue-200);
  border: none;
  color: var(--color-white);
  outline: none;
  padding: 1rem 2rem;
}

.button:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;
}

.button:focus {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 6px;
}
