.UserCard {
  border: 1px solid #ededed;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

.UserCard-header {
  display: flex;
  padding: 1rem 1rem 0;
}

.UserCard-header-content {
  margin: 0 0 0 0.5rem;
}

.UserCard-name {
  font-size: var(--font-size-4);
  margin: 0;
}

.UserCard-login {
  font-size: var(--font-size-5);
  margin: 0;
}

.UserCard-company {
  font-size: var(--font-size-6);
  margin: 0;
}

.UserCard-bio {
  margin: 0;
}

.UserCard-figure {
  margin: 0;
}

.UserCard-figure > img {
  max-width: 6rem;
}

.UserCard-content {
  padding: 1rem 1rem 0;
}

.UserCard-stats {
  border-top: 1px solid #ededed;
  display: flex;
  list-style: none;
  margin: 1rem auto 0;
  padding: 0;
}

.UserCard-stats-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5rem;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.UserCard-stats-item:nth-child(2) {
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}
