.userCard {
  border: 1px solid var(--color-gray-400);
}

.userCard:hover {
  cursor: pointer;
}

.header {
  display: flex;
  padding: 1rem;
}

.headerContent {
  margin: 0 0 0 1rem;
}

.name {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-900);
  margin: 0;
}

.login {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-400);
  margin: 0;
}

.company {
  color: var(--color-gray-500);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-400);
  margin: 0;
}

.bio {
  margin: 0;
}

.figure {
  margin: 0;
}

.figure > img {
  display: block;
  height: auto;
  max-width: 6rem;
  width: 100%;
}

.content {
  padding: 0 1rem 1rem;
}

.stats {
  border-top: 1px solid var(--color-gray-200);
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.statsItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 5rem;
  flex: 1;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;
}

.statsItem:nth-child(2) {
  border-left: 1px solid var(--color-gray-200);
  border-right: 1px solid var(--color-gray-200);
}

.statsName {
  color: var(--color-gray-500);
}

.statsValue {
  font-size: var(--font-size-4);
}
