.app {
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.header {
  text-align: center;
}

.title {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-900);
  margin-bottom: 0.25rem;
}

.subtitle {
  color: var(--color-gray-700);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-400);
  margin-top: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem auto;
}

.error {
  color: var(--color-error);
  margin: 0.5rem;
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer a {
  color: var(--color-info);
}

@media (min-width: 1024px) {
  .content {
    max-width: 64rem;
  }
}
